body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Oswald', sans-serif;
}

:root {
    --bg-primary-color: hsl(180, 100%, 17%);
    --bg-secondary-color: hsl(170, 54%, 76%);
    --bg-tertiary-color: hsl(175, 93%, 31%);
    --bg-quarternary-color: hsl(64, 100%, 79%);
}

img, video{
    width: 100%;
}

header {
    background-color: var(--bg-primary-color);
    color: var(--bg-secondary-color);
}

.mar {
    margin-right: 44%;
}

.he-2 {
    background-color: var(--bg-secondary-color);
    color: var(--bg-primary-color);
}

.menu {
    color: var(--bg-secondary-color);

    transition: color 100ms ease-in-out;
}

.menu:hover {
    color: var(--bg-tertiary-color);
    cursor: pointer;
}

.he-2 a {
    color: var(--bg-primary-color);

    transition: color 150ms ease-in-out;
}

.he-2 a:hover {
    color: var(--bg-quarternary-color);
}

.btn {
    border: solid var(--bg-secondary-color) 2px;
    color: var(--bg-secondary-color);

    transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}

.btn:hover {
    color: var(--bg-primary-color);
    background-color: var(--bg-secondary-color);
}

footer {
    background-color: var(--bg-primary-color);
    color: var(--bg-secondary-color);
}

.linhaVertical {
    height: 100px;
    border-left: 1px solid var(--bg-secondary-color);
}

/* The side navigation menu */

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: -300px;
    background-color: var(--bg-primary-color);
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--bg-secondary-color);
    display: block;
    transition: 0.3s;
}

.sidenav .btn-group {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--bg-secondary-color);
    display: block;
    transition: 0.3s;
}

.sidenav .dropdown-menu {
    background-color: var(--bg-primary-color);
    border-color: var(--bg-tertiary-color);
}

.sidenav a:hover {
    color: var(--bg-tertiary-color);
}

.sidenav .btn-group:hover {
    color: var(--bg-tertiary-color);
    cursor: pointer;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*end of the side navigation menu*/

#navbar {
    overflow: hidden;
    z-index: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+main {
    padding-top: 100px;
}

.sticky+.mainIndex {
    padding-top: 48px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.card {
    background-color: var(--bg-primary-color);
}

.meio {
    position: fixed;
    left: 50%;
    top: 44.69%;
    margin-left: -400px;
    margin-top: -300px;
    height: 600px;
    width: 0;
    z-index: 3;
    background-color: var(--bg-secondary-color);
    overflow: hidden;
}

.meio a {
    color: var(--bg-primary-color);
}

.body-bd {
    padding: 20px;
}

.list-group-item {
    border-color: var(--bg-primary-color);
}

#email {
    cursor: pointer;
}

.copiado {
    color: var(--bg-quarternary-color);
    border: solid 2px var(--bg-secondary-color);
    border-radius: 2px;
    margin: 0;
    transition: transform 0.6s cubic-bezier(0.12, 0, 0.39, 0);
}

.btn-email {
    border: 0;
    color: var(--bg-secondary-color);
    background-color: transparent;
}

.card-title,
.card-text {
    color: var(--bg-secondary-color);
}

.a-p-1,
.a-p-2 {
    margin-top: 160px;
}

.a-p-3 {
    margin-top: 136px;
}

@media screen and (max-width: 1400px) {
    .a-p-1 {
        margin-top: 118px;
    }

    .a-p-2 {
        margin-top: 94px;
    }

    .a-p-3 {
        margin-top: 70px;
    }
}

@media screen and (max-width: 1024px) {
    .a-p-1 {
        margin-top: 75px;
    }

    .a-p-2 {
        margin-top: 50px;
    }

    .a-p-3 {
        margin-top: 27px;
    }
}

@media screen and (max-width: 768px) {
    .meio {
        left: 50%;
        top: 35.4%;
        margin-left: -150px;
        margin-top: -200px;
        height: 600px;
        font-size: 14px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .a-p-1 {
        margin-top: 64px;
    }

    .a-p-2,
    .a-p-3 {
        margin-top: 16px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        top: 100%;
        width: 100%;
    }
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color: var(--bg-secondary-color);
    border-radius: 40px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--bg-tertiary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-primary-color);
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg,
            var(--bg-tertiary-color) 25%,
            transparent 25%,
            var(--bg-tertiary-color) 10%,
            transparent)
}